<div class="container">
	<h4 class="center-align">Alterar senha</h4>
	<form name="passwordForm">
		<div class="input-field">
			<input type="password" placeholder="Senha atual" ng-model="currentPassword" name="currentPassword" ng-required="true" ng-minlength="6">
		</div>
		<div class="input-field">
			<input type="password" placeholder="Nova senha" ng-model="newPassword" name="newPassword" ng-required="true" ng-minlength="6">
		</div>
		<button class="btn full-width waves-effect waves-light" ng-click="putPassword(currentPassword, newPassword)" ng-disabled="passwordForm.$invalid">Salvar</button>
	</form>
</div>