<div class="container">
	<h4 class="center-align">Editar {{address.name}}</h4>
	<form name="addressForm">
		<div class="input-field">
			<input id="name" type="text" name="name" ng-model="addressEdit.name" ng-required="true" placeholder="Lugar">
		</div>
		<div class="input-field">
			<input type="text" ng-model="addressEdit.address" name="address" ng-required="true" places-auto-complete component-restrictions="{country: 'br'}" placeholder="Endereço">
		</div>
		<button class="btn waves-effect waves-light full-width" ng-disabled="addressForm.$invalid" ng-click="updateAddress(addressEdit.name, addressEdit.address, address._id)">Salvar</button>
	</form>
</div>